Source: oi-build-firmware
Section: host/tools
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7.0)
XCS-Cross-Host-Build-Depends: debhelper (>= 7.0)
Priority: optional
Standards-Version: 3.6.2

Package: oi-build-firmware
Architecture: any
Depends: ${shlibs:Depends}, cross-shell, zip, unzip, bzip2, mtd-utils, lzma, python, mk-oifw, mk-rawpic
Description: Tool for Hanlin v3 firmware generation
 This package includes mkv3update tool which generates firmware in Hanlin V3
 updater format.
